//Paleta de color
$bg-principal: #7AEAB0;
$bg-secundario: #85FFBD;
$bg-terciario: #08AEEA;

//$bg-secundario: background-color: #85FFBD; background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

//Colores texto
$texto-claro: white;
$texto-oscuro: black;