// Aca se encuentra el contenido de las distintas paginas del sitio


// Main general
main {
	margin-top: 12vh;
	h1 {
		font-size: $titulo1;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
	h2 {
		font-size: $titulo2;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
}








// Main Index
main.main-index {
	h1 {
		display: none;
	}
	section.destacado {
		background-image: url("../img/green-pattern-2.webp");
		background-attachment: fixed;
		width: 100%;
		min-height: 40vh;
		padding: 60px 20px;
		h2 {
			color: white;
			font-weight: 700;
			text-shadow: 4px 4px 5px black;
			font-size: 1.5rem;
		}
		p {
			color: white;
			text-shadow: 4px 4px 5px black;
			font-size: 2rem;
			font-weight: 700;
		}
	}
	section.secciones {
		a {
			padding: 20px;
			font-size: $texto2;
		}
	}

}

@media only screen and (min-width: 500px) {
	#palm {
		font-size: 3rem;
	}
	#subti {
		font-size: 2rem;
	}
}





// Main locales.html
main.locales p {
	text-align: center;
	font-size: $titulo4;
}







// Main contacto.html
main.contacto {
	form {
		width: 75%;
	}
	button {
	border: 0px solid red;
	}
}

@media only screen and (min-width: 550px) {
	footer.contacto {
		position: fixed;
		bottom: 0;
	}
	main.contacto form {
		width: 50%;
	}
}
@media only screen and (min-width: 950px) {
	footer.contacto {
		position: fixed;
		bottom: 0;
	}
	main.contacto form {
		width: 25%;
	}
}







//Main Error 404
main.error404 {
	margin: 20vh auto 5vh;
	img {
		display: block;
		margin: auto;
		width: 80%;
	}
}
.enlaces404 {
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	font-size: 1.3rem;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
	&:hover {
		background-color: #08AEEA;
		background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
		transform: scale(1.01);
		color: white;
		text-shadow: 2px 2px 5px gray;
	}
}

@media only screen and (min-width: 768px) {
	main.error404 img {
		width: 50%;
	}
}








// Breadcrumb
.fresco-breadcrumb {
	margin-top: 15vh;
	background-color: $texto-claro;
	a {
		color: black;
		font-size: 1.1rem;
		&:hover {
			color: #5aad80;
		}
	}
}
.active-breadcrumb {
	font-size: 1.1rem;
}







//Tarjetas
.card:hover {
	box-shadow: 2px 2px 5px lightgray;
	transform: scale(1.01);
	cursor: pointer;
}
.card-titulo {
	font-size: $titulo4;
	margin: auto;
	text-align: center;
	margin-bottom: 5px;
}


//Boton
.boton {
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
	color: $texto-oscuro;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	&:hover {
		background-color: #08AEEA;
		background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
		transform: scale(1.01);
		color: $texto-claro;
		text-shadow: 2px 2px 5px gray;
	}
}
.precio {
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
	color: $texto-oscuro;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	font-size: $titulo5;
	text-align: center;
	font-weight: 700;
	width: 100%;
}