main {
	margin-top: 12vh;
	h1 {
		font-size: $titulo1;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
	h2 {
		font-size: $titulo2;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
}



main.locales p {
	text-align: center;
	font-size: $titulo4;
}











//Tarjetas
.card:hover {
	box-shadow: 2px 2px 5px lightgray;
	transform: scale(1.01);
	cursor: pointer;
}
.card-titulo {
	font-size: $titulo4;
	margin: auto;
	text-align: center;
	margin-bottom: 5px;
}



//Boton
.boton {
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
	color: $texto-oscuro;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	&:hover {
		background-color: #08AEEA;
		background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
		transform: scale(1.01);
		color: $texto-claro;
		text-shadow: 2px 2px 5px gray;
	}
}
.precio {
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
	color: $texto-oscuro;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	font-size: $titulo5;
	text-align: center;
	font-weight: 700;
	width: 100%;
}