@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
	font-family: lato, sans-serif;
}

// Tamaños fuentes
$titulo1: 2.5rem;
$titulo2: 2rem;
$titulo3: 1.8rem;
$titulo4: 1.4rem;
$titulo5: 1.2rem;

$texto: 1.5rem;
$texto2: 1.2rem;

